<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <title>WMIt</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    </head>

    <body>
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <div class="container">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                </div>
                <span style="font-size:30px;cursor:pointer" class="openbtn" onclick="openNav()">&#9776;</span>
                <a class="brand" href="/"> WMIt</a>
                <% if(!currentUser){ %>
                <a class="btn btn-outline-light d-lg-none" href="/login">Login <span class="sr-only">(current)</span></a>
                <a class="btn btn-danger ml-2 d-lg-none" href="/register">Sign-Up <span class="sr-only">(current)</span></a>
                <% }else{ %>
                    <a class="btn btn-danger ml-2 d-lg-none" href="/user"><%= currentUser.user %><span class="sr-only">(current)</span></a>
                    <a class="btn btn-danger ml-2 d-lg-none" href="/logout">logout <span class="sr-only">(current)</span></a>
                    <a class="btn btn-danger ml-2 d-lg-none" href="/cart">cart</a>
                    <% } %>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="search-container ml-5">
                        <form action="">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <% if(!currentUser){ %>
                        <li class="nav-item active">
                            <a class="btn btn-outline-light" href="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-outline-light" href="/register">Sign-Up <span class="sr-only">(current)</span></a>
                        </li>
                        <% }else{ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="/user"><%= currentUser.user %><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn btn-outline-light" href="/logout">logout <span class="sr-only">(current)</span></a>
                        </li>
                        <% } %>                       
                        <li class="nav-item ml-3">
                            <a class="btn btn-primary" href="/cart">
                                cart
                                <% if(session.cart && session.cart.totalQty != 0){ %>
                                <span class="badge badge-light"><%= session.cart.totalQty %></span>
                                <% } %>
                            </a>
                        </li>

                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">catagory</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <nav class="navbar navbar-expand-lg navbar-light ">
            <form class="d-lg-none mx-auto my-lg-0">
                <div class="form-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"></div>
            </form>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 dropdown">
                        <div class="dropdown">
                            <button class="dropbtn">Dropdown</button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>


            </div>
            </li>
            </ul>
            </div>
        </nav>


        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }

        </script>