<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>product upload page</h1>
    <form action="/admin/submit" method="post">
        <input type="text" name="name" placeholder="enter name of the product">
        <input type="text" name="pic" placeholder="Enter image url">
        <input type="number" name="price" placeholder="enter price" min="0.1" step="0.1">
        <input type="text" name="description" placeholder="enter description">
        <input type="number" name="quantity" placeholder="enter quantity available" min="1" step="1">
        <button type="submit">Submit</button>
    </form>
</body>
</html>